# Co-owners of tools/integration_tests/ directory.
tools/integration_tests/ @ashmeenkaur

# These owners will be the default owners for everything in
# the repo.
*           @sethiay @vadlakondaswetha @raj-prince

# Checking if it is working