version: 2
enable-beta-ecosystems: true
updates:
- package-ecosystem: docker
  directory: "/"
  schedule:
    interval: weekly
- package-ecosystem: gomod
  directory: "/"
  allow:
  - dependency-type: "direct"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
  groups:
    # Group all Go updates together
    go-dependencies:
      patterns:
        - "*"
- package-ecosystem: pip
  directory: "/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
  groups:
    python-dependencies:
      patterns:
        - "*"
