vendor/**/*_test.go

# Binary names.
/build_release
/gcsfuse
/mount_gcsfuse
/read_full_file
/read_within_file
/write_locally

# Vim detritus
.*.swp

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
