apiVersion: v1
kind: Pod
metadata:
  name: gcsfuse-gke-machine-type-test
  annotations:
    gke-gcsfuse/volumes: "true"
spec:
  restartPolicy: Never
  containers:
  - name: gke-gcsfuse-sidecar
    image: gcr.io/$project_id/cloudbuild-gcsfuse-csi/gcs-fuse-csi-driver-sidecar-mounter:$staging_version
  - name: machine-type-test
    image: ubuntu:24.04
    imagePullPolicy: Always
    env:
    - name: GCSFUSE_BRANCH
      value: "$gcsfuse_branch"
    - name: BUCKET_NAME
      value: "$bucket_name"
    command: ["/bin/bash", "/scripts/run_test.sh"]
    volumeMounts:
    - name: data-vol
      mountPath: /data_mnt
    - name: scripts-vol
      mountPath: /scripts
  serviceAccountName: default
  volumes:
  - name: data-vol
    csi:
      driver: gcsfuse.csi.storage.gke.io
      volumeAttributes:
        bucketName: "$bucket_name"
  # Pass high-performance machine-type to make the tests pass.
  #      mountOptions: "machine-type:a3-highgpu-8g"
  - name: scripts-vol
    configMap:
      name: machine-type-test-scripts
