apiVersion: v1
kind: Pod
metadata:
  name: gcsfuse-gke-machine-type-test
  annotations:
    gke-gcsfuse/volumes: "true"
spec:
  restartPolicy: Never
  hostNetwork: true
  nodeSelector:
    cloud.google.com/gke-tpu-topology: 2x2
    cloud.google.com/gke-tpu-accelerator: tpu-v6e-slice
  initContainers:
    - name: prep-caches
      securityContext:
        privileged: true
      image: ubuntu:24.04
      command: ["bash", "-c"]
      args:
      - |
        echo always > /sys/kernel/mm/transparent_hugepage/enabled
      volumeMounts:
      - name: sys-mm
        mountPath: /sys/kernel/mm
  containers:
  - name: gke-gcsfuse-sidecar
    image: gcr.io/$project_id/cloudbuild-gcsfuse-csi/gcs-fuse-csi-driver-sidecar-mounter:$staging_version
  - name: load-test
    image: ubuntu:24.04
    imagePullPolicy: Always
    resources:
      limits:
        google.com/tpu: 4
    command: ["/bin/bash", "-c"]
    args:
    - |
      set -e
      echo "Step 1: Container started. Updating apt and installing dependencies..."
      apt-get update && apt-get install -y wget git build-essential ca-certificates

      echo "Step 2: Installing Go 1.24.10 ..."
      wget -q https://go.dev/dl/go1.24.10.linux-amd64.tar.gz
      rm -rf /usr/local/go && tar -C /usr/local -xzf go1.24.10.linux-amd64.tar.gz
      export PATH=$PATH:/usr/local/go/bin
      echo "Go version installed:"
      go version

      echo "Step 3: Cloning GCSFuse repo..."
      git clone -b $gcsfuse_branch https://github.com/GoogleCloudPlatform/gcsfuse.git
      cd gcsfuse
      echo "Repo content:"
      ls -F

      echo "Step 4: Running tests ..."
      # Running filtered tests which are supposed to pass only for high-performance machine-type.
      go test -v ./tools/integration_tests/flag_optimizations/... --integrationTest --mountedDirectory=/data_mnt --testbucket=$bucket_name -run "TestImplicitDirsEnabled|TestRenameDirLimitSet"
      
      echo "Step 5: Test finished successfully."
    volumeMounts:
    - name: data-vol
      mountPath: /data_mnt
  serviceAccountName: default
  volumes:
  - name: sys-mm
    hostPath:
      path: /sys/kernel/mm
      type: Directory
  - name: data-vol
    csi:
      driver: gcsfuse.csi.storage.gke.io
      volumeAttributes:
        bucketName: "$bucket_name"
        mountOptions: ""
