absl-py
chex
etils
flax
fsspec
humanize
importlib_resources
jax
jaxlib
markdown-it-py
mdurl
ml_dtypes
msgpack
nest-asyncio
numpy
opt_einsum
optax
orbax-checkpoint
protobuf
Pygments
PyYAML
rich
scipy
simplejson
tensorstore
toolz
treescope
typing_extensions
zipp
