# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

explicit_dir:
  - mounted_directory: "${MOUNTED_DIR}" # To be passed by GKE after mounting
    test_bucket: "${BUCKET_NAME}" # To be passed by both gcsfuse and gke tests
    log_file: # Optional flag required by some tests where log parsing is done to validate end behavior
    run_on_gke: false
    configs:
      - flags:
          - "--implicit-dirs=false"
          - "--implicit-dirs=false --client-protocol=grpc"
        compatible: # Bucket type to run these tests with
          flat: true
          hns: false
          zonal: false

implicit_dir:
  - mounted_directory: "${MOUNTED_DIR}"
    test_bucket: "${BUCKET_NAME}"
    log_file: # Optional
    run_on_gke: false
    configs:
      - flags:
          - "--implicit-dirs"
        compatible:
          flat: true
          hns: true
          zonal: true
      - flags:
          - "--implicit-dirs --client-protocol=grpc"
        compatible:
          flat: true
          hns: true
          zonal: false

list_large_dir:
  - mounted_directory: "${MOUNTED_DIR}"
    test_bucket: "${BUCKET_NAME}"
    log_file: # Optional flag required by some tests where log parsing is done to validate end behavior
    run_on_gke: false
    configs:
      - flags:
          - "--implicit-dirs=true --stat-cache-ttl=0 --kernel-list-cache-ttl-secs=-1"
        compatible:
          flat: true
          hns: true
          zonal: true
      - flags:
          - "--client-protocol=grpc --implicit-dirs=true --stat-cache-ttl=0 --kernel-list-cache-ttl-secs=-1"
        compatible:
          flat: true
          hns: true
          zonal: false

write_large_files:
  - mounted_directory: "${MOUNTED_DIR}"
    test_bucket: "${BUCKET_NAME}"
    log_file: # Not Required by write large files tests
    run_on_gke: false
    configs:
      - flags:
          - "--enable-streaming-writes=false"
          # write-global-max-blocks=5 is for checking multiple file writes in parallel.
          # concurrent_write_files_test.go- we are writing 3 files in parallel.
          # with this config, we are giving 2 blocks to 2 files and 1 block to other file.
          - "--write-max-blocks-per-file=2 --write-global-max-blocks=5"
        compatible:
          flat: true
          hns: true
          zonal: true

gzip:
  - mounted_directory: "${MOUNTED_DIR}"
    test_bucket: "${BUCKET_NAME}"
    log_file: # Not Required by gzip tests
    run_on_gke: false
    configs:
      - flags:
          - "--sequential-read-size-mb=1 --implicit-dirs"
          - "--sequential-read-size-mb=1 --implicit-dirs --client-protocol=grpc"
        compatible:
          flat: true
          hns: true
          zonal: true

readonly:
  - mounted_directory: "${MOUNTED_DIR}" # To be passed by GKE after mounting
    test_bucket: "${BUCKET_NAME}" # To be passed by both gcsfuse and gke tests
    log_file: # Not required by readonly tests.
    run_on_gke: false
    configs:
      - flags:
          - "--o=ro --implicit-dirs=true"
          - "--file-mode=544 --dir-mode=544 --implicit-dirs=true"
          - "--client-protocol=grpc --o=ro --implicit-dirs=true"
          - "--o=ro --implicit-dirs=true --cache-dir=${CACHE_DIR_PATH} --file-cache-max-size-mb=3"
        compatible:
          flat: true
          hns: true
          zonal: true
