name: ci

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'
permissions:
  contents: read

concurrency:
  group: ${{ github.ref == 'refs/heads/master' && github.run_id || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  filter:
    runs-on: ubuntu-latest
    timeout-minutes: 6
    outputs:
      run_tests: ${{ steps.filter.outputs.run_tests }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3.0.2
        id: filter
        with:
          predicate-quantifier: 'every'
          filters: |
            run_tests:
              - '!**/*.md'
              - '!tools/**'
              - '!perfmetrics/**'
              - '!samples/**'

  format-test:
    runs-on: ubuntu-latest
    timeout-minutes: 6
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: "1.24"
    - name: CodeGen
      run: go generate ./...
    - name: Formatting diff
      run: go fmt ./... && go mod tidy && git diff --exit-code --name-only

  list-packages:
    needs: filter
    if: needs.filter.outputs.run_tests == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 6
    outputs:
      pkgs: ${{ steps.set-pkgs.outputs.pkgs }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.24"
      - id: set-pkgs
        run: |
          PKGS=$(go list ./... | jq -R -s -c 'split("\n")[:-1]')
          echo "pkgs=$PKGS" >> $GITHUB_OUTPUT

  build-check:
    needs: filter
    if: needs.filter.outputs.run_tests == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 6
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.24"
      - name: Install fuse
        run: sudo apt-get update && sudo apt-get install -y fuse3 libfuse-dev
      - name: Build Verification
        run: |
          CGO_ENABLED=0 go build ./...
          go install ./tools/build_gcsfuse
          build_gcsfuse . /tmp ${GITHUB_SHA}

  linux-tests:
    needs: [filter, list-packages]
    if: needs.filter.outputs.run_tests == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 9
    strategy:
      fail-fast: false
      matrix:
        go: [ 1.24.x ]
        # Hardcoded single package for testing
        pkg: [ 'github.com/googlecloudplatform/gcsfuse/v3/cmd' ]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go ${{ matrix.go }}
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go }}
    - name: Install fuse
      run: sudo apt-get update && sudo apt-get install -y fuse3 libfuse-dev
    - name: Test ${{ matrix.pkg }}
      run: |
        CGO_ENABLED=0 go test -v -p 1 -count 1 -covermode=atomic -coverprofile=coverage.out -coverpkg=./... -skip `cat flaky_tests.lst | go run tools/scripts/skip_tests/main.go` ${{ matrix.pkg }}
    - name: Race Detector (${{ matrix.pkg }})
      if: contains(matrix.pkg, 'internal/cache') || contains(matrix.pkg, 'internal/gcsx')
      run: |
        go test -v -p 1 -count 1 -race -skip `cat flaky_tests.lst | go run tools/scripts/skip_tests/main.go` ${{ matrix.pkg }}
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        fail_ci_if_error: false
        token: ${{ secrets.CODECOV_TOKEN }}
        flags: unittests
        name: coverage-${{ strategy.job-index }}

  lint:
    name: Lint
    if: github.ref != 'refs/heads/master'
    runs-on: ubuntu-latest
    timeout-minutes: 6
    steps:
    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: "1.24"
    - name: checkout code
      uses: actions/checkout@v5
    - name: golangci-lint
      uses: golangci/golangci-lint-action@032fa5c5e48499f06cf9d32c02149bfac1284239
      with:
        args: -E=goimports,unused --timeout 3m0s
        only-new-issues: true