name: Flake detector
on:
  # Enable triggering the workflow manually
  workflow_dispatch:
  push:
    branches: ["master"]

jobs:
  flake-detector:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.24.x
          cache: false
      - name: Install fuse
        run: sudo apt-get update && sudo apt-get install -y fuse3 libfuse-dev
      - name: Build
        run: |
          CGO_ENABLED=0 go build ./...
          go install ./tools/build_gcsfuse
          build_gcsfuse . /tmp ${GITHUB_SHA}

      - name: Download dependencies
        run: go mod download

      - name: Test all
        run: CGO_ENABLED=0 go test -p 1 -count 5 -skip `cat flaky_tests.lst | go run tools/scripts/skip_tests/main.go` `go list ./...`

      - name: RaceDetector Test
        run: CGO_ENABLED=0 go test -p 1 -count 5 ./internal/cache/... ./internal/gcsx/...
