name: "Shadow reviews"

on:
  pull_request:
    types: 
    - ready_for_review
    branches:
      - master

jobs:
  shadow-reviewer:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Add shadow reviewer
        run: gh pr edit --add-reviewer @GoogleCloudPlatform/gcsfuse-shadow-reviewers "$PR_URL"
        env:
          GH_TOKEN: ${{ secrets.SHADOW_REVIEWER_CLASSIC }}
          PR_URL: ${{github.event.pull_request.html_url}}
