name: "Shadow reviews"

on:
  pull_request:
    types:
    - review_requested
    branches:
    - master

permissions:
  pull-requests: write

jobs:
  shadow-reviewer:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Add shadow reviewer
      run: gh pr edit --add-reviewer @GoogleCloudPlatform/gcsfuse-shadow-reviewers "$PR_URL"
      env:
        PR_URL: ${{github.event.pull_request.html_url}}
